<div class="jumbotron mt.4">
    <h1 class="display-4">Notes App In Nodejs</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nostrum numquam cupiditate.</p>
    <hr class="my-4"></hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia modi veniam eaque necessitatibus quae 
       odio enim, atque doloremque labore laboriosam dolorem, nostrum beatae quos id in vero assumenda consectetur 
       et possimus accusamus. Molestias expedita dolores voluptatem quod voluptate omnis dolor!</p>
    <a href="https://github.com/Emanuel4168" class="btn btn-primary btn-lg">github</a>
</div>